/*=======================================
Template Design By MarkUps.
Author URI : http://www.markups.io/
========================================*/

a {
  color: #8c43ff;
}

.navbar-fixed nav {
  background-color: #8c43ff;
}

.side-nav li:hover {
  background-color: #8c43ff;
}
.btn,
.btn-large {
  background-color: #8c43ff;
}
.btn:hover,
.btn-large:hover {
  background-color: #8c43ff;
}
.home-title span {
  color: #8c43ff;
}
.about-inner-right > h3 {
  color: #8c43ff;
}
.personal-information > h3 {
  color: #8c43ff;
}
.title {
  color: #8c43ff;
}

.card-subtitle {
  color: #8c43ff;
}
.portfolio-top {
  background-color: #8c43ff;
}
.filter {
  color: #8c43ff;
}
.filter:focus {
  background-color: #8c43ff;
}
#portfolio-list .mix:hover > a::before {
  background-color: #8c43ff;
}
.counter {
  color: #8c43ff;
}

.pro-bar-container.color-wisteria {
  border-color: #8c43ff;
}

.pro-bar.color-amethyst {
  background-color: #8c43ff;
}
.call-to-about i {
  color: #8c43ff;
}

.blog-post .card-action a {
  color: #8c43ff;
}

.post-comment:hover {
  color: #8c43ff !important;
}

.readmore-btn:hover {
  background-color: #8c43ff;
}
#experience {
  background-color: #8c43ff;
}

.card-title i {
  color: #8c43ff;
}
.customNavigation i {
  color: #8c43ff;
}
#testimonial {
  background-color: #8c43ff;
}
.testimonial-content h3 {
  color: #8c43ff;
}
.footer-top {
  background-color: #8c43ff;
}
input[type="text"]:focus:not([readonly]) + label,
input[type="password"]:focus:not([readonly]) + label,
input[type="email"]:focus:not([readonly]) + label,
input[type="url"]:focus:not([readonly]) + label,
input[type="time"]:focus:not([readonly]) + label,
input[type="date"]:focus:not([readonly]) + label,
input[type="datetime-local"]:focus:not([readonly]) + label,
input[type="tel"]:focus:not([readonly]) + label,
input[type="number"]:focus:not([readonly]) + label,
input[type="search"]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #8c43ff;
}
input[type="text"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly]),
input[type="email"]:focus:not([readonly]),
input[type="url"]:focus:not([readonly]),
input[type="time"]:focus:not([readonly]),
input[type="date"]:focus:not([readonly]),
input[type="datetime-local"]:focus:not([readonly]),
input[type="tel"]:focus:not([readonly]),
input[type="number"]:focus:not([readonly]),
input[type="search"]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #8c43ff;
  box-shadow: 0 1px 0 0 #8c43ff;
}
.submit-btn {
  color: #8c43ff;
}
.submit-btn:hover,
.submit-btn:focus {
  background-color: #8c43ff;
}
.overlay-header {
  background-color: #8c43ff;
}
.blog-content blockquote {
  border-left: 5px solid #8c43ff;
}
.share-area h4 i,
.tag-area h4 i {
  color: #8c43ff;
}
.share-area a:hover,
.share-area a:focus {
  color: #8c43ff;
}
.author-comments {
  background-color: #8c43ff !important;
}
.reply-btn:hover {
  background-color: #8c43ff;
}
.pagination li.active {
  background-color: #8c43ff;
}
.card .card-action a {
  color: #8c43ff;
}
.tagcloud a:hover,
.tagcloud a:focus {
  color: #fff;
  background-color: #8c43ff;
  border-color: #8c43ff;
}
.prev-post:hover,
.prev-post:focus,
.next-post:hover,
.next-post:focus {
  background-color: #8c43ff;
}
.submit-btn {
  color: #8c43ff;
}
.side-nav li:hover,
.side-nav li.active {
  background-color: #8c43ff;
}
.progress .indeterminate {
  background-color: #8c43ff;
}

/*=======================================
  Template Design By MarkUps.
  Author URI : http://www.markups.io/
  ========================================*/
